<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Uploading</title>
  </head>

  <body>
    <h1>To Upload Image on mongoDB</h1>
    <hr />
    <div>
      <form action="/" method="POST" enctype="multipart/form-data">
        <div>
          <label for="name">Image Title</label>
          <input
            type="text"
            id="name"
            placeholder="Name"
            value=""
            name="name"
            required
          />
        </div>
        <div>
          <label for="desc">Image Description</label>
          <input
          type="text"
          id="desc"
          placeholder="Description"
          value=""
          name="desc"
          required
          />
        </div>
        <div>
          <label for="place">Place</label>
          <input
            type="text"
            id="place"
            placeholder="Place"
            value=""
            name="place"
            required
          />
        </div>
        <div>
          <label for="image">Upload Image</label>
          <input type="file" id="image" name="image" value="" required />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

    <hr />

    <h1>Uploaded Images</h1>
    <div>
      <% items.forEach(function(image) { %>
      <div>
        <div>
          <img
            src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>"
          />
          <div>
            <h5><%= image.name %></h5>
            <h6><%= image.place %></h6>
            <h3><%= image.desc %></h3>
            <h2><%= image.date %></h2>

          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
